
<div class="container">
    <p>Agregar Usuario</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre de usuario</label>
                    <input [(ngModel)]="equipo.username" type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input [(ngModel)]="equipo.password" type="text" class="form-control" name="password">
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo</label>
                    <input [(ngModel)]="equipo.correo" type="text" class="form-control" name="correo">
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input [(ngModel)]="equipo.telefono" type="text" class="form-control" name="telefono">
                </div>
                <div class="mb-3">
                    <label class="form-label">Perfil</label>
                    <select class="form-control" [(ngModel)]="equipo.seleccionado" name="perfil_id">
                      
                        <option value="{{item.id}}"  *ngFor="let item of ListaPerfiles">{{item.nombre}}</option>
                    </select>
                </div>
               {{seleccionado}}
                
                <button (click)="agregar()" class="btn btn-primary">Agregar Usuario</button>
            </form>
        </div>



    </div>
    
</div>
